* { 
    box-sizing: border-box;
    text-align: center;
    margin:auto 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: white;
    padding: 4%;
    font-size: 25px;
}

a {
    color: rgb(117, 33, 117);
    text-decoration: none;
}

a:hover {
    color: rgb(25, 117, 94);
    text-decoration: underline;
}
.profile-img {
    max-width: 75%;
    width: 75%;
    border: 7px double teal;
    border-radius: 19px;
    margin-top: 10px;
}

.profile-text {
    margin: 0;
    padding: 15px;
    padding-top: 10px;
    font-size: 25px;
  }

.box-img {
    max-width: 100%;
    padding: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }

.box {
    padding-bottom: 20px;
  }

#top {
    text-transform: uppercase;  
    color: rgb(124, 150, 53);
    letter-spacing: 5px;  
    font-size: 35px;          
  }

#portfolio, #contact, h1 {
    font-size: 35px;
  }

li {
    display: block;
    background-color: white;
    padding: 10px;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
  }

h1 {
    font-size: 35px;
    margin: 10px;
  }

h2 {
    text-transform: uppercase;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    margin: 40px;
    margin-bottom: 5px;
  }

h3 {
    padding: 5px;
    font-weight: 900;
  }

p {
    padding: 15px;
  }

.p2 {
    padding: 15px;
  }

#contact {
    padding: 10px;
    padding-top: 10px;
    text-align: center;
  }
  
footer {
    display: flex;
    justify-content: space-between;
  }
  
#footer, #back-to-top {
    font-weight: 600;
    padding: 20px;
  }
  
.contact-info {
    font-weight: 600;
  }

.main-nav {
    padding-left: 0;
    padding: 5px;
    }

.main-header {
    padding-bottom: 15px;
}

.bottom-nav {
    display: none;
  }

@media (min-width: 768px){
    li {
        display: inline-block;
    }
    
    h1 {
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .profile-img {
        max-width: 40%;
    }

    .profile-text {
        text-align: left;
        font-size: 20px;
    }

    .profile-img, .profile-text {
        display: inline-block;
    }

    .box {
        float: left;
        width: 50%;
        padding-left: 0px;
        margin: auto;
      }
      
    .bottom-nav {
        display: flex;
      }

    #back-to-top {
        display: none;
      }
  }
  @media (min-width:1024px){
    .main-header {
        display: flex;
        justify-content: space-between;
    }
    
    .box {
        float: left;
        width: 33%;
        padding-left: 0px;
        margin: auto;
    }
  
    #contact {
        display: inline-flex;
        padding-left: 17%;
        padding-top: 6%;
        padding-right: 17%;
    }

    #back-to-top {
        display: none;
    }

    .bottom-nav {
        display: flex;
    }
  
  }
  